/* Logo austauschen */

.ipsLogin > .logo {
	background-image: url(logo.svg);
}

/* Farbe verändern */
.ipsLogin,
.ipsWebFront {
    background: rgb(18,55,71);
    background: radial-gradient(circle, rgba(18,55,71,1) 0%, rgba(25,103,116,1) 100%);
}

.ipsTabPane > .navigation ,
.ipsContentChanger > .navigation {
	background-color: #0f2b39;
}

.ipsCategory {
    background-image: url(tree.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.ipsCategory .ipsCategory {
    background: none;
}
